body, html {
    height: 100%;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("assets/Imagem-capa/OIG2.jfif");
    min-height: 100%;
}

.menu {
    display: none;
}
